/Java/SongsFXJPA/target/
/Java/SongsJPA/target/
/Java/ioFromDb/target/
/IOFromDB/target/
/Java/IOFromDB/target/
/Java/overView/target/
/Java/HTML5lezione2/nbproject/private/
/Java/HTML5JavaScript/nbproject/private/
/JakartaEE/PrimaWebApplication/target/
/JakartaEE/GestUsers/target/
/JakartaEE/BankSystem/nbproject/private/
/HTML/BankSystem/nbproject/private/
/HTML/pwBankSystem/pwBankSystem/target/
/HTML/pwBankSystem/pwBankSystem-st/target/
/JakartaEE/pwblog/pwblog/target/
/JakartaEE/tecnicheProgrammazioneBaseEObjectOriented/target/
