
/* 
    Created on : 13 apr 2021, 10:17:23
    Author     : Paolo
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

/* The grid container */
.grid-container {
    height: 100vh;
    display: grid;
    background-color: #f1f1f1;
    grid-template-columns: fit-content(20%) auto auto;
    grid-template-rows: fit-content(20%) auto fit-content(20%);
    grid-template-areas: 
        'header header header' 
        'left middle middle' 
        'footer footer footer';
} 

.left,
.middle,
.right,
.footer {
    padding: 20px;
}

/* Style the header */
.header {
    grid-area: header;
    /* Style is defined in header.css */
}

/* Style the left column */
.left {
    grid-area: left;
    background-color: #cecece;
    text-align: center;
    padding-top: 30px;
}

/* Style the middle column */
.middle {
    grid-area: middle;
    overflow-style: scrollbar;
    overflow-y: scroll;
}

/* Style the right column */
.right {
    grid-area: right;
    overflow-style: scrollbar;
    overflow-y: scroll;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
}

.flex-item a{
    color: white;
}

.flex-item{
    flex:1;
    min-width: 100px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .grid-container  {
        height: 100vh;
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            'header' 
            'left' 
            'middle' 
            'right'
            'footer';
    }

    .grid-container .header{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0; 
    }
    .left img {
        width: 30%;
    }
    .footer {
        width: 100%;
    }
    
}